# Mr Developer
.DS_Store

#Emacs cruft
*~

# node modules
node_modules/

# npm debug log
npm-debug.log

# app specific files that are generated as part of the asset pipeline
#public/fonts/bootstrap
#public/javascripts/bundles/
#public/stylesheets/
